@model ReflectionIT.Mvc.Paging.PagingList<Drukarka3DData.Models.Order>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/js/jquery.rateyo.min.js"></script>


@*@await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })*@

<div class="row" id="gallery-filter-menu">
    @*<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" style="margin-bottom: 10px">*@
    <form asp-controller="Home" asp-action="Index" method="get">
        <div class="col-sm-4">
            <div class="gallery-search-inputs">
                Sortuj:
            </div>
            <select name="sortExpression" class="form-control">
                <option value="UploadDate" selected="selected">Najnowsze</option>
                <option value="Name">Alfabetycznie</option>
                <option value="ViewsCount">Liczba wyświetleń</option>
                <option value="Likes">Liczba polubień</option>
            </select>
        </div>
        <div class="col-sm-4">
            <div class="gallery-search-inputs">
                Elementów na stronie:
            </div>
            <select name="onPage" class="form-control">
                @{ List<int> onPageValue = new List<int>();
                    onPageValue.Add(10); onPageValue.Add(20);
                    onPageValue.Add(50); onPageValue.Add(100);}
                @foreach(var i in onPageValue)
                {
                    @if(i.Equals(Convert.ToInt32(Model.RouteValue["onPage"])))
                    {
                        <option value="@i" selected>@i</option>
                    }
                    else
                    {
                        <option value="@i">@i</option>

                    }

                }
            </select>
        </div>
        <div class="col-sm-4">
            <div class="gallery-search-inputs">
                Wyszukaj:
            </div>
            <input type="text" class="form-control" placeholder="Wpisz frazę..." name="filter" value="@Model.RouteValue["Filter"]" />
        </div>

        <div class="col-sm-12" style="margin-top: 15px">
            <button type="submit" class="btn btn-primary"><strong>Filtruj</strong></button>
        </div>
    </form>
    @*</div>*@
</div>
<div class="container-fluid">
    <div class="row imagetiles">

            @for (int j = 0; j < Model.Count(); j++)
            {
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <form asp-controller="Home" asp-action="ProjectView" method="post" enctype="multipart/form-data">
                        <input type="image" src="@Model.ElementAt(j).UserScreenPath" class="img-responsive" name="@Model.ElementAt(j).OrderId" />
                    </form>
                    <div class="img-gallery-img-footer">
                        <div class="image-caption-div"><span class="glyphicon glyphicon-thumbs-up" style="font-size: x-large"></span><div style="font-size: large">@Model.ElementAt(j).Likes</div></div>
                        <div id="rateYo-@Model.ElementAt(j).OrderId" style="float: right"></div>
                        <script>

                                $("#rateYo-@Model.ElementAt(j).OrderId").rateYo({
            rating: (parseFloat(@Model.ElementAt(j).Rate.ToString().Replace(",", ".")) > 5 ? 0 : parseFloat(@Model.ElementAt(j).Rate.ToString().Replace(",", ".")))/5,
                                    maxValue: 1,
                                    numStars: 5,
                                    starWidth: "40px",
                                    readOnly: true
                                });
                        </script>
                    </div>
                </div>           

        }
    </div>
</div>

<vc:pager paging-list="@Model" />
