@*@model ICollection<Drukarka3DData.Models.Order>
    <div class="container box" style="max-width: 800px">
        <div class="row">
        @foreach (var i in Model)
        {
            <div class="col-md-4">
                <a asp-action="Download" asp-route-filename="@i.Path"><img src="@i.UserScreenPath" width="200" height="200"></a>
            </div>
        }
        </div>
    </div>*@

@model IEnumerable<Drukarka3DData.Models.Order>

<script>
    window.addEventListener("load", function () {
        $(".rateYo").rateYo()
            .on("rateyo.set", function (e, data) {

                var rating = { "Rate": data.rating, "Id": $(this).attr("id") };

                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(rating),
                    url: 'UpdateRating',
                    dataType: 'JSON',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        alert(dataToSend);
                    }
                });
                //alert("The rating is set to " + data.rating + "!");
            });



        $("#select-sorting").change(function () {
            sortTable();
        });
        $("#select-order").change(function () {
            sortTable();

        });

        //$("#searchPhrase").click(function () {
        //    if ($("#SearchString").val() == null) $("#SearchString").val("");
        //});

        //$("#searchPhrase").click(function () {
        //    var _url = 'UploadImage';

        //    var SearchString = $("#SearchString").val();

        //    var UserName = $("#UserName").val();

        //    var MyProjectsForm = { "UserName": UserName, "SearchString": SearchString };

        //    alert("{Username:" + UserName + ", SearchString:" + SearchString + "}");

        //    $.ajax({
        //        method: "POST",
        //        url: _url,
        //        data: JSON.stringify(MyProjectsForm),
        //        dataType: 'JSON',
        //        contentType: "application/json; charset=utf-8"
        //    })
        //        .done(function (msg) {
        //            //alert( "Done [string]: " + msg );
        //            var parse_obj = JSON.parse(msg);
        //            alert("Done: " + parse_obj.imie);
        //        })
        //        .fail(function (msg) {
        //            alert("Fail [string]: " + msg);
        //        });
        //});


    }, false);

    var sortBy =
        {
            DATE: 1,
            STATUS: 2
        };

    var sortOrder =
        {
            ASC: 1,
            DESC: 2

        };

    function sortTable() {
      var table, rows, switching, i, x, y, shouldSwitch;
      table = document.getElementById("orders-table");
      switching = true;
      /*Make a loop that will continue until
      no switching has been done:*/
      while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table.getElementsByTagName("TR");
        /*Loop through all table rows (except the
        first, which contains table headers):*/
        for (i = 1; i < (rows.length - 1); i++) {
          //start by saying there should be no switching:
          shouldSwitch = false;
          /*Get the two elements you want to compare,
          one from current row and one from the next:*/

          //var e = document.getElementById("select-sorting");

          x = rows[i].getElementsByTagName("TD")[$("#select-sorting").val()];
          y = rows[i + 1].getElementsByTagName("TD")[$("#select-sorting").val()];
          //check if the two rows should switch place:
          if ($("#select-order").val() == sortOrder.ASC) {

              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                  //if so, mark as a switch and break the loop:
                  shouldSwitch = true;
                  break;
              }
          }
          else if ($("#select-order").val() == sortOrder.DESC) {
              if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                  //if so, mark as a switch and break the loop:
                  shouldSwitch = true;
                  break;
              }

          }

        }
        if (shouldSwitch) {
          /*If a switch has been marked, make the switch
          and mark that a switch has been done:*/
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
        }
      }
    }
</script>
<div class="box">
    <h2>Galeria Projektów</h2>
    <br>
    <div class="flipkart-navbar-search smallsearch col-sm-6 col-xs-11">
        <form asp-controller="Home" asp-action="ProjectsGallery">
            <div class="row searchBox">

                <input class="flipkart-navbar-input col-xs-11" placeholder="Wpisz wyszukiwaną frazę" type="text" name="SearchString" id="SearchString">
                <button class="flipkart-navbar-button col-xs-1" id="searchPhrase">
                    <svg width="15px" height="15px">
                        <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
                    </svg>
                </button>
            </div>
            @*<div class="row searchBox">
                    <input class="flipkart-navbar-input col-xs-11" placeholder="Podaje nazwę użytkownika" type="text" name="UserName" id="UserName">
                    <button class="flipkart-navbar-button col-xs-1" id="searchUser">
                        <svg width="15px" height="15px">
                            <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
                        </svg>
                    </button>
                </div>*@
        </form>
    </div>
    <div id="search-text" class="col-sm-2">
        Sortuj:
    </div>
    <div class="col-sm-2">
        <select id="select-sorting" class="form-control">
            <option value="1" selected="selected">dodano</option>
            <option value="2">status</option>
        </select>
    </div>
    <div class="col-sm-2">
        <select id="select-order" class="form-control">
            <option value="1" selected="selected">rosnąco</option>
            <option value="2">malejąco</option>
        </select>
    </div>
    <table class="table table-hover table-striped table-bordered" id="orders-table">
        <tbody>
            @for (int i = 0; i < Model.Count(); i += 3)
            {
                <tr>
                    @for (int j = i; j < i + 3; j++)
                    {
                        @if (j < Model.Count())
                        {

                            <td>

                                <label>@Model.ElementAt(j).Name</label>
                                <a asp-action="Download" asp-route-filename="@Model.ElementAt(j).Path"><img src="@Model.ElementAt(j).UserScreenPath" width="200" height="200"></a>
                                <div id="@Model.ElementAt(j).OrderId" style="margin: auto"></div>

                                <script>
                            window.addEventListener("load", function () {
                                $(function () {

                                    $("#@Model.ElementAt(j).OrderId").rateYo({
                                        rating: parseFloat(@Model.ElementAt(j).Rate.ToString().Replace(",", ".")) > 5 ? 0 : parseFloat(@Model.ElementAt(j).Rate.ToString().Replace(",", ".")),
                                        onSet: function (rating, rateYoInstance) {

                                            var data = { "Rate": rating, "Id": @Model.ElementAt(j).OrderId.ToString() };
                                            $.ajax({
                                                type: 'POST',
                                                data: JSON.stringify(data),
                                                url: 'UpdateRating',
                                                dataType: 'JSON',
                                                contentType: "application/json; charset=utf-8",
                                                success: function (data) {
                                                    alert(dataToSend);
                                                }
                                            });
                                            //alert("The rating is set to " + data.rating + "!");
                                        }
                                    });

                                });
                            }, false);
                                </script>
                            </td>
                        }
                    }
                </tr>
            }



        </tbody>
    </table>
    <ul class="pagination pagination-sm">
        <li><a href="@Url.Action("ProjectsGallery","Home")">1</a></li>
        <li><a href="@Url.Action("ProjectsGallery","Home")">2</a></li>
        <li><a href="@Url.Action("ProjectsGallery","Home")">3</a></li>
        <li><a href="@Url.Action("ProjectsGallery","Home")">4</a></li>
        <li><a href="@Url.Action("ProjectsGallery","Home")">5</a></li>
    </ul>
</div>

