@using Microsoft.AspNetCore.Identity
@using Drukarka3DData.Models;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (User.Identity.Name.Equals("admin"))
    {
        <li style="background-color: red"><a href="@Url.Action("AdminPanel","Admin")"><strong style="color: white">Panel Admina</strong> <span class="sr-only">(current)</span></a></li>

    }
    <li style="background-color: #b3ffff"><a href="@Url.Action("Loader","Home")"><strong>Drukuj <span class="glyphicon glyphicon-print"></span></strong> <span class="sr-only">(current)</span></a></li>
    <li class="dropdown" id="navbar-dropdown-btn">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@UserManager.GetUserName(User) <span class="caret"></span></a>
        <ul class="dropdown-menu" style="background-color: lightcyan;">
            <li><a class="navbar-dropdown-option" href="@Url.Action("FavouriteProjectsAsync","Projects")"><span class="glyphicon glyphicon-heart"></span> Ulubione</a></li>
            <li><a class="navbar-dropdown-option" href="@Url.Action("MyProjectsAsync","Projects")"><span class="glyphicon glyphicon-th"></span> Moje Projekty</a></li>
            <li class="navbar-dropdown-option"><a href="@Url.Action("ManageAccount", "Manage")"><span class="glyphicon glyphicon-cog"></span> Moje konto</a></li>
            <li role="separator" class="divider"></li>
            <li class="navbar-dropdown-option"><a href="@Url.Action("LogOut","Account")"><span class="glyphicon glyphicon-off"></span> Wyloguj</a></li>
        </ul>
    </li>
}
else
{
    <li><a href="@Url.Action("Login", "Account")">Zaloguj</a></li>
    <li><a href="@Url.Action("Register","Account")">Rejestracja</a></li>
}
